

#polygon-form-left-sidebar{
    position:fixed;
    left: -500px;
    top:16vh;
    max-height:80vh;
    width:320px;
    background: rgba(255,255,255,0.95);
    box-shadow:2px 0px 5px rgba(0,0,0,0.1);
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding:10px;
    align-items:center;
    gap:10px;
    z-index:1000;
    transition: all 0.6s ease-in-out;
}


#polygon-form-left-sidebar input,
#polygon-form-left-sidebar select,
#polygon-form-left-sidebar textarea{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: .95rem;
    max-width: 95%;
}



#confirm-button{
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
    display:none;
    transition: all 0.3s ease-in-out;
    max-width: 95%;
}

#delete-button{
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #b91c1c;
    background: #b91c1c;
    color: white;
    cursor: pointer;
    display:none;
    transition: all 0.3s ease-in-out;
    max-width: 95%;
}


#edit-button{
    position: absolute;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    top: 10px;
    right: 50px;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

#polygon-form-left-sidebar form{
    display: grid;
    gap: 8px;
}

#polygon-form-left-sidebar label{
    display: grid;
    gap: 4px;
    font-size: .9rem;
}

#close-button{
    position: absolute;
    padding:8px 12px;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    background-color: #b91c1c;
}

#polygon-form-left-sidebar input[type="file"]::file-selector-button {
   padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}


#img-view-screen-button{
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
    max-width: 95%;
}