body{
    margin:0px;
}

#lon-input, #lat-input{
    top:2vh;
    height:5vh;
    width:15vw;
    font-size:1rem;
    border-radius:10px;
    text-align:center;
    z-index:1000;
}

#inputs-group{
    top:6vh;
    position:fixed;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
    z-index:1000;
}

#input-group{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


#form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

#left-buttons{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}



#identify-button{
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

#query-screen-button{
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

#heatmap-button{
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}
#data-export-button{
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    border: 1px solid #2563eb;
    background: #2563eb;
    color: white;
    cursor: pointer;
}